.carousel {
  width: 100vw;
  min-width: 260px;
  margin: auto;
  margin-top: 55px;
  border-radius: 2px;
  overflow: hidden;
  border: 0.6px solid rgb(182, 180, 180);
  /* max-width: 800px; */
}
/* @media (max-width:600px) {
  .carousel{
    height: 30vh;
  }
} */
.category-button {
  width: 60vw;
  min-width: 260px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  max-width: 800px;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: transparent;
  border: none;
}

.fandv,
.pandi,
.mandf,
.gandp {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(33, 143, 253);
  border: 2px solid rgb(33, 143, 253);
  font-weight: 400;
  margin: 4px 0px;
}
.fandv:hover,
.pandi:hover,
.mandf:hover,
.gandp:hover {
  background-color: rgb(33, 143, 253);
  color: #fff;
}
.Home .card {
  margin: 0 25px;
  /* margin: auto; */
  scroll-snap-align: end;
  border: 1px solid transparent !important;
}
.products {
  width: 60vw;
  max-width: 980px;
  min-width: 260px;
  margin: auto;
  text-align: center;
  border: 1px solid grey !important;
}
.call-us {
  width: 60vw;
  max-width: 800px;
  min-width: 300px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}

.call-img,
.call-para {
  width: 50%;
}

.call-img > img {
  width: 80%;
  border-radius: 10px;
  margin-right: 10px;
}
.btn {
  width: fit-content !important;
  padding: 2px 12px !important;
  margin: 4px auto !important;
}

@media (max-width: 600px) {
  .call-us {
    flex-direction: column;
  }
  .call-img,
  .call-para {
    width: 100%;
  }
  .call-img > img {
    width: 100%;
    margin-bottom: 40px;
  }
  footer{
    display: block;
  }
}
.img-block{
  width: 100vw;
  height: 50vh;
}
.carousel-item:nth-child(1){
  background-color: aqua;
}
.carousel-item:nth-child(2){
  background-color: crimson;
}
.carousel-item:nth-child(3){
  background-color: green ;
}